[build]
  command = "pip install -r requirements.txt"
  functions = "functions"
  publish = "."

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[functions]
  python_version = "3.9"
  node_bundler = "esbuild"